@charset "utf-8";

.slider {
    &__container {
        position: relative;
        overflow: hidden;
    }

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-content: center;
    }

    &__item {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    &__navigation {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}