@charset "utf-8";

$timer: .3s;

.slider {
    &__container {
        position: relative;
        overflow: hidden;
    }

    &__wrapper {
        position: relative;
        left: 0;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        transition: left $timer ease;

        &.transition--false {
            transition: none;
        }
    }

    &__item {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    &__navigation {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.control {
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 10px;
        width: 100%;

        ul {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                &:not(:first-child) {
                    margin-left: 7px;
                }

            }
        }
    }

    &__player:not(:first-child) {
        margin-left: 10px;
    }
}

.pagination {
    &__item {
        button {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 0;
            padding: 0;
            background-color: #fff;
            border-radius: 50%;
            border: none;
            text-indent: -9999px;
            transition: all $timer ease;
        }

        &--active button {
            background-color: #6b6b6b;
        }
    }
}
