.makeCarousel {
    width: 600px;
    margin: 200px auto 0;
}

.makeCarousel ul > li {
    padding: 100px 0;
    border: 1px solid #000;
    box-sizing: border-box;
    justify-content: center;
}

.singleCarousel {
    margin: 100px auto 0;
}

.singleCarousel ul > li {
    padding: 100px 0;
    border: 1px solid #000;
    box-sizing: border-box;
    justify-content: center;
}
